#### Module Import

In [1]:
import pandas as pd
import numpy as np
from geopy.geocoders import Nominatim

#### Read Data

In [20]:
listing_dataframe = pd.read_csv("D:\Portopolio\project 10 of 100 (DQLab Project)\Data\DQLab_listings(22Sep2022) (1).csv")

In [21]:
listing_dataframe.head()

,Unnamed: 0,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,availability_365
0,0,50646,Pleasant Room along Bukit Timah,227796,Sujatha,Bukit Timah,1.33432,103.78521,Private room,80,92,365
1,1,71609,Ensuite Room (Room 1 & 2) near EXPO,367042,Belinda,Tampines,1.34537,103.95887,Private room,145,92,340
2,2,71896,B&B Room 1 near Airport & EXPO,367042,Belinda,Tampines,1.34754,103.95958,Private room,85,92,265
3,3,71903,Room 2-near Airport & EXPO,367042,Belinda,Tampines,1.34531,103.96100,Private room,85,92,365
4,4,275344,15 mins to Outram MRT Single Room,1439258,Kay,Bukit Merah,1.28836,103.81144,Private room,49,60,296

#### Get To Know Data

In [22]:
display("PRICE", listing_dataframe['price'].describe())

display("MIN NIGHT", listing_dataframe['minimum_nights'].describe())

'PRICE'

count     4161.000000
mean       214.505167
std        454.921421
min          0.000000
25%         60.000000
50%        120.000000
75%        235.000000
max      12494.000000
Name: price, dtype: float64

'MIN NIGHT'

count    4161.000000
mean       57.566931
std        65.746522
min         1.000000
25%         1.000000
50%        92.000000
75%        92.000000
max      1000.000000
Name: minimum_nights, dtype: float64

#### Check Data Type

In [23]:
print(f"data type latitude now : ", type(listing_dataframe['latitude'][0]))

data type latitude now :  <class 'numpy.float64'>

#### Convert Data Type

In [24]:
listing_dataframe['latitude'] = listing_dataframe['latitude'].astype(str)
listing_dataframe['longitude'] = listing_dataframe['longitude'].astype(str)

In [25]:
print(f"data type column values latitude : ", type(listing_dataframe['latitude'][0]))

data type column values latitude :  <class 'str'>

In [30]:
latitudeLong_list = [f"{keys}, {values}" for keys,values in zip(listing_dataframe['latitude'], listing_dataframe['longitude'])]

latitudeLong_arr = np.array(latitudeLong_list)

latitudeLong_arr[0:10]

array(['1.33432, 103.78521', '1.34537, 103.95887', '1.34754, 103.95958',
       '1.34531, 103.961', '1.28836, 103.81144', '1.3449, 103.95979',
       '1.31142, 103.83924', '1.28828, 103.8102', '1.28652, 103.81225',
       '1.28636, 103.81138'], dtype='<U38')

In [35]:
listing_dataframe["lat-long"] = latitudeLong_arr

In [40]:
geolocator = Nominatim(user_agent="GetCountry")

def get_country(coord):
    location = geolocator.reverse(coord, exactly_one=True)
    address = location.raw['address']
    country = address.get('country', '')
    return country

In [48]:
listing_dataframe['country name'] = listing_dataframe[:]['lat-long'].apply(get_country)

In [58]:
listing_dataframe.head()

,Unnamed: 0,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,availability_365,lat-long,country name
0,0,50646,Pleasant Room along Bukit Timah,227796,Sujatha,Bukit Timah,1.33432,103.78521,Private room,80,92,365,"1.33432, 103.78521",Singapore
1,1,71609,Ensuite Room (Room 1 & 2) near EXPO,367042,Belinda,Tampines,1.34537,103.95887,Private room,145,92,340,"1.34537, 103.95887",Singapore
2,2,71896,B&B Room 1 near Airport & EXPO,367042,Belinda,Tampines,1.34754,103.95958,Private room,85,92,265,"1.34754, 103.95958",Singapore
3,3,71903,Room 2-near Airport & EXPO,367042,Belinda,Tampines,1.34531,103.961,Private room,85,92,365,"1.34531, 103.961",Singapore
4,4,275344,15 mins to Outram MRT Single Room,1439258,Kay,Bukit Merah,1.28836,103.81144,Private room,49,60,296,"1.28836, 103.81144",Singapore

In [50]:
filter = listing_dataframe["country name"] == "Malaysia"

In [66]:
listing_dataframe[filter].shape

(1024, 14)

In [ ]:
listing_dataframe.to_csv(r'D:\Portopolio\project 10 of 100 (DQLab Project)\Data\\listing_byCountry.csv')